<h1>Keresési eredmények: </h1><h5>{{length}} db találat</h5>
<mat-select *ngIf="selectedWorkers?.length > 0" placeholder="Találatok rendezése" [(value)]="selected">
  <mat-option>None</mat-option>
  <mat-option (click)="sortbyBestRating()" value="option1">Legjobb értékelés elöl</mat-option>
  <mat-option (click)="sortbyWorstRating()" value="option2">Legrosszabb értékelés elöl</mat-option>
  <mat-option (click)="sortbyNameAZ()" value="option3">Név szerint A-Z</mat-option>
  <mat-option (click)="sortbyNameZA()" value="option4">Név szerint Z-A</mat-option>
</mat-select>
<mat-divider></mat-divider>

<div class="row" *ngIf="selectedWorkers?.length == 0">
  <h2>A megadott keresőszóval nem található szakember!</h2>
  <button mat-icon-button routerLink="/help">
      <mat-icon aria-label="button with a heart icon">favorite</mat-icon>
  </button>
</div>
<div class="profiles">
  <mat-card *ngFor="let worker of selectedWorkers" class="example-card">
    <mat-card-header>
      <img mat-card-avatar src ="{{fileUpload + worker.category.picture}}" class="example-header-image">
      <mat-card-title style="font-size:180%;text-decoration:underline">{{worker.name}}</mat-card-title>
      <mat-card-subtitle>{{worker.category.categoryName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="margin-top: 1.5%;" src="{{fileUpload + worker.imgName}}" alt="{{fileUpload + worker.imgName}}">
    <mat-divider></mat-divider>
    <mat-card-content>
      <app-rating [workerId]='worker.id'></app-rating>
      <p>
        {{worker.description | truncate : 220}}
      </p>
    </mat-card-content>
    <mat-card-actions style="margin-bottom:0%">
      <app-locations [workerId]='worker.id'></app-locations>
      <button mat-icon-button>
        <mat-icon aria-label="button with a heart icon">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  </div>