<div class="page-body" id="login-page">
  <h2 class="mat-h2">Bejelentkezés</h2>

  <form [formGroup]="loginForm" novalidate>
    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Felhasználónév" name="username" formControlName="username">
        <mat-error *ngIf="username.hasError('required')">
          Felhasználónév megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Jelszó" name="password" formControlName="password" type="password">
        <mat-error *ngIf="password.hasError('required')">
          Jelszó megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button class="loginButton" type="submit" (click)="submit()" [disabled]="!loginForm.valid">Bejelentkezés</button>
  </form>
</div>

<footer>
    <p><b>Készítette: Járvás Tamás 2018</b></p>
    <p>Contact information: <a href="mailto:someone@example.com">
    jarvast@inf.elte.hu</a>.</p>
</footer> 