<form *ngIf="user" [formGroup]="editForm" novalidate>
<div class="toppart">
    <img src="{{imgRoute + user.imgName}}?{{getTimeStamp()}}" alt="{{imgRoute + user.imgName}}">
    <div class="textpart">
    <mat-form-field class="namefield">
      <input matInput type="text" maxlength="30" placeholder="Név" formControlName="name" required>
      <mat-hint align="end">{{name.value?.length || 0}}/30</mat-hint>
    </mat-form-field>
    <mat-form-field class="namefield">
      <span matPrefix>+36 &nbsp;</span>
      <input matInput maxlength="9" placeholder="Telefonszám" formControlName="phone" required>
      <mat-error *ngIf="phone.hasError('pattern')">
        Nem megfelelő telefonszám formátum!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="namefield">
      <input matInput maxlength="35" placeholder="E-mail" formControlName="email" required>
      <mat-hint align="end">{{name.value?.length || 0}}/35</mat-hint>
    </mat-form-field>
    <mat-form-field class= "namefield">
      <mat-select placeholder="Lakhely"  formControlName="loc" required>
        <mat-option *ngFor="let loca of locations" [value]="loca">{{loca.locationName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>
  <button mat-raised-button class="button" (click)="submit()" [disabled]="!editForm.valid">Mentés</button>
</form>
<div>
    <br>
    <form-upload></form-upload>
</div>