<div *ngIf="user" class="toppart">
  <img src="{{imgRoute + user.imgName}}?{{getTimeStamp()}}" alt="{{imgRoute + user.imgName}}">
  <div class="textpart">
    <h1>{{user.name}}</h1>
    <p><b>Telefonszám: </b><span style="display:inline-block; width: 30%;"></span>{{user.phoneNum}}</p>
    <p><b>E-mail: </b><span style="display:inline-block; width: 41%;"></span>{{user.email}}</p>
    <p><b>Lakhely: </b><span style="display:inline-block; width: 38%;"></span>{{user.location.locationName}}</p>
  </div>
</div>
<div class="buttons">
    <button *ngIf="!ownprofile" [disabled]="!authService.isLoggedIn" class="messagebutton" mat-raised-button color="primary" (click)="sendMessage()"  matTooltip="Üzenetküldéshez jelentkezzen be!" [matTooltipDisabled]=authService.isLoggedIn matTooltipHideDelay="2000">Üzenetküldés</button>
    <button *ngIf="ownprofile" class="messagebutton" mat-raised-button color="primary" (click)="rut()">Profil szerkesztése</button>
    <div>
      <button *ngIf="!ownprofile" [disabled]="!authService.isLoggedIn"  class="reportbutton" mat-raised-button color="primary" (click)="report()" matTooltip="Jelentéshez jelentkezzen be!" [matTooltipDisabled]=authService.isLoggedIn matTooltipHideDelay="2000">Jelentés</button>
    </div>
    <mat-divider></mat-divider>
</div>