<div class="fuk">
  <h1>Kedvenceim: </h1>
  <mat-select *ngIf="favoriteWorkers?.length > 0" placeholder="Kedvencek rendezése" [(value)]="selectedOption">
    <mat-option>None</mat-option>
    <mat-option (click)="sortbyBestRating()" value="option1">Legjobb értékelés elöl</mat-option>
    <mat-option (click)="sortbyWorstRating()" value="option2">Legrosszabb értékelés elöl</mat-option>
    <mat-option (click)="sortbyNameAZ()" value="option3">Név szerint A-Z</mat-option>
    <mat-option (click)="sortbyNameZA()" value="option4">Név szerint Z-A</mat-option>
  </mat-select>
  </div>
<div class="row" *ngIf="favoriteWorkers?.length == 0">
  <h2>Jelenleg nincsenek kedvenc szakembereid!</h2>
</div>
<div class="profiles">
  <mat-card *ngFor="let worker of favoriteWorkers" class="example-card">
    <mat-card-header>
      <img mat-card-avatar src ="{{imgRoute + worker.category.picture}}" class="headerimage">
      <mat-card-title [routerLink]="['/worker', worker.id]" style="font-size:180%;text-decoration:underline">{{worker.name}}</mat-card-title>
      <mat-card-subtitle>{{worker.category.categoryName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="margin-top: 1.5%;" src="{{imgRoute + worker.imgName}}" class="mainpic" alt="{{imgRoute + worker.imgName}}" [routerLink]="['/worker', worker.id]">
    <mat-divider></mat-divider>
    <mat-card-content>
      <app-rating [inputRating]='worker.rating'></app-rating>
      <p>
        {{worker.description | truncate : 220}}
      </p>
    </mat-card-content>
    <mat-card-actions style="margin-bottom:0%">
      <app-locations [workerId]='worker.id'></app-locations>
    </mat-card-actions>
  </mat-card>
  </div>