.toppart{
    display: flex;
    width: 65%;
    margin-top: 3%;
}
img{
    max-width: 45%;
    margin-left: 6%;
    height: 19em;
}
h1{
    margin-left: 25%;
}
p{
    margin-left: 25%;
    border-bottom: dotted;
    font-size: 110%;
}
span{
    width: 20px;
}
ul{
    list-style-type: square;
    margin-left: 65%;
}
h6{
    margin-left: 25%;
    margin-bottom: 0%;
    font-size: 110%;
}
h5{
    margin-left: 30%;
    margin-bottom: 0%;
    font-size: 110%;
}
.textpart{
    width: 100%;
}
.descpart{
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid rgba(70, 131, 180, 0.589);
    border-radius: 15px;
    background: khaki;
    padding: 6px;
}
.taskpart{
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
}
.disclaimer{
    font-size: 110%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-style: italic;
}
.ratingpart{
    margin-bottom: 6%;
}
.buttons{
    padding: 1%;
}
.reportbutton{
    margin-left: 5%;
    background: red;
    
}
.messagebutton{
    margin-left: 5%;
    margin-bottom: 1%;
    padding: 0.3% 4%;
}
mat-divider{
    margin-left: 30%;
}
.reservebutton{
    margin-left: 74%;
    margin-bottom: 1%;
}