<div class="toppart">
  <img src="{{imgRoute + worker.imgName}}" alt="{{imgRoute + worker.imgName}}">
  <div class="textpart"><h1>{{worker.name}}</h1><p>{{worker.phoneNum}}</p><app-locations [workerId]='worker.id'></app-locations></div>
</div>
<div class="descpart">
  <p>{{worker.description}}</p>
</div>
<div class="taskpart">
  Az árak a típustól, mérettől és határidőtől függenek!
  <app-task-table [workerId]='worker.id'></app-task-table>
</div>
<div class="ratingpart">
  <rating-detailed [workerId]='worker.id'></rating-detailed>
</div>