<mat-horizontal-stepper [linear]=true #stepper="matHorizontalStepper">
    <mat-step [stepControl]="passwords">
      <form [formGroup]="form" style="margin-left:20%;">
        <ng-template matStepLabel>Alapadatok</ng-template>
        <mat-form-field>
          <input matInput placeholder="Felhasználónév" maxlength="250" formControlName="username" required>
        </mat-form-field>
        </form>
        <form [formGroup]="passwords" style="margin-left:20%;">
        <mat-form-field>
            <input matInput placeholder="Jelszó" formControlName="password" maxlength="250" type="password" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Jelszó megerősítése" formControlName="confirmPass" maxlength="250" type="password" required>
          </mat-form-field>
          <mat-error *ngIf="passwords.hasError('notSame')">
            A jelszavak <strong>nem</strong> egyeznek!
          </mat-error>
          <div>
            <button mat-button matStepperNext>Következő</button>
          </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="form2">
      <form [formGroup]="form2" style="margin-left:20%;">
        <ng-template matStepLabel>Személyes adatok</ng-template>
        <mat-form-field>
          <input matInput placeholder="Név" maxlength="40" formControlName="fullname" required>
          <mat-hint align="end">{{fullname.value?.length || 0}}/40</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="email.hasError('email')">
              Nem megfelelő email formátum!
            </mat-error>
          </mat-form-field>
          <mat-form-field>
              <span matPrefix>+36 &nbsp;</span>
              <input matInput placeholder="Telefonszám" maxlength="9" formControlName="phone" required>
              <mat-error *ngIf="phone.hasError('pattern')">
                Nem megfelelő telefonszám formátum!
              </mat-error>
            </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Vissza</button>
          <button mat-button matStepperNext>Következő</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="form3">
        <form [formGroup]="form3" style="margin-left:20%;">
          <ng-template matStepLabel>Szakmai adatok</ng-template>
          <mat-form-field style="width:30%;">
              <mat-select placeholder="Szolgáltatási helyek"  formControlName="location" multiple required>
                <mat-option *ngFor="let loca of locations" [value]="loca">{{loca.locationName}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field style="width:30%;">
              <mat-select placeholder="Kategória"  formControlName="category" required>
                  <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.categoryName}}</mat-option>
                </mat-select>
              </mat-form-field>
                <mat-form-field style="width:30%;">
                    <textarea matInput placeholder="Részletes leírás" maxlength="1000" formControlName="description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" required></textarea>
                    <mat-hint align="end">{{description.value?.length || 0}}/1000</mat-hint>
                  </mat-form-field>
          <div>
            <button mat-button matStepperNext>Következő</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Kész</ng-template>
      Ha az adatok megfelelnek, akkor elkészült a regisztrációja, a gombra kattintás után bejelentkezhet!
      A bejelentkezés után adjon hozzá feladatokat és időpontokat, hogy megfelelően használja az oldalt!
      <div>
        <button mat-button matStepperPrevious>Vissza</button>
        <button mat-button (click)="stepper.reset()">Újrakezdés</button>
        <button mat-raised-button class="button" style="background-color: green;color:white;" (click)="submit()">Regisztráció</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>