h2{
    font-size: 60%;
}
.ratebutton{
    background-color: khaki;
}
.nametag:hover{
        color: khaki;
        cursor: pointer;
}
.acceptRateRequest{
    margin-left: 35%;
    margin-top: 0%;
    color: white;
    background-color: green;
}
.acceptAppo{
    margin-left:14%;
    padding : 2%;
    color: white;
    background-color: green;
}
.declineAppo{
    margin-left:20%;
    padding : 2%;
    color: white;
    background-color: red;
}