<mat-tab-group>
  <mat-tab label="Szakemberek">
      <mat-table #table [dataSource]="workers">
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef>Dátum</mat-header-cell>
            <mat-cell class="name-header" [routerLink]="['/worker', element.id]" *matCellDef="let element"> {{element.username}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Dátum</mat-header-cell>
            <mat-cell class="name-header" [routerLink]="['/worker', element.id]" *matCellDef="let element"> {{element.name}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Időintervallum</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastLogin | date:'yyyy MMMM d  H:mm':'':'hu'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="approved">
            <mat-header-cell *matHeaderCellDef>Időintervallum</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.approved?'✔':'✗'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef>Feladatok</mat-header-cell>
            <mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="!element.approved" (click)="approveWorker(element.id)">check</mat-icon>
                    <span class="spano"></span>
                    <mat-icon (click)="deleteWorker(element.id)">delete</mat-icon>
            </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="workerColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: workerColumns;"></mat-row>
      </mat-table>

  </mat-tab>
  <mat-tab label="Felhasználók">
      <mat-table #table [dataSource]="users">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Dátum</mat-header-cell>
            <mat-cell class="name-header" [routerLink]="['/user', element.id]" *matCellDef="let element"> {{element.name}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef>Időintervallum</mat-header-cell>
            <mat-cell class="name-header" [routerLink]="['/user', element.id]" *matCellDef="let element"> {{element.username}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef>Időintervallum</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.lastLogin | date:'yyyy MMMM d  H:mm':'':'hu'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef>Időintervallum</mat-header-cell>
                <mat-cell *matCellDef="let element"> <mat-icon (click)="deleteWorker(element.id)">delete</mat-icon></mat-cell>
              </ng-container>
          
          <mat-header-row *matHeaderRowDef="userColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: userColumns;"></mat-row>
      </mat-table>

  </mat-tab>
  <mat-tab label="Jelentések">
      <mat-table #table [dataSource]="reports">
          <ng-container matColumnDef="sender">
            <mat-header-cell *matHeaderCellDef>Küldő</mat-header-cell>
            <mat-cell class="name-header" *matCellDef="let element" (click)="route(element.sender)"> {{element.sender.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="receiver">
              <mat-header-cell *matHeaderCellDef>Fogadó</mat-header-cell>
              <mat-cell class="name-header" *matCellDef="let element" (click)="route(element.receiver)"> {{element.receiver.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="content">
              <mat-header-cell *matHeaderCellDef>Fogadó</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.content}}</mat-cell>
            </ng-container>
      
          
          <mat-header-row *matHeaderRowDef="reportColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: reportColumns;"></mat-row>
      </mat-table>
    
  </mat-tab>
  <mat-tab label="Egyéb opciók">
    <p>Az adatbázis karbantartás során az 1 évnél régebben belépett felhasználók <strong>törlődnek</strong> a rendszerből!</p>
    <button mat-raised-button style="background-color:darkorange;" class="button" (click)="maintain()">Adatbázis karbantartás</button>
    <mat-divider></mat-divider>
    <p>Új adminisztrátor hozzáadása</p>
    <form [formGroup]="adminform" novalidate>
        <mat-form-field class="namefield">
            <input matInput placeholder="Telefonszám" formControlName="username" required>
          </mat-form-field>
          <mat-form-field class="namefield">
              <input matInput placeholder="pass" formControlName="password" type="password" required>
          </mat-form-field>
          <mat-form-field class="namefield">
                <input matInput placeholder="Telefonszám" formControlName="fullname" required>
          </mat-form-field>
          <button mat-raised-button class="button" (click)="submit()" [disabled]="!adminform.valid">Mentés</button>
    </form>
  </mat-tab>
</mat-tab-group>