.toppart{
    display: flex;
    width: 65%;
    margin-top: 3%;
}
.namefield{
    margin-left: 20%;
    width: 100%;
}
p{
    margin-left: 25%;
    border-bottom: dotted;
    font-size: 110%;
}

img{
    max-width: 45%;
    margin-left: 6%;
    height: 19em;
}
span{
    width: 30px;
}
.textpart{
    width: 100%;
}
.buttons{
    padding: 1%;
}
.reportbutton{
    margin-left: 15%;
    background: red;
    
}
.messagebutton{
    margin-left: 7.3%;
    margin-bottom: 1%;
    padding: 0.3% 4%;
}
mat-divider{
    margin-top: 3%;
}
form-upload{
    margin-left: 5%;
}
.button{
    margin-left: 40%;
    background: green;
    color: white;
}