<form [formGroup]="searchForm" novalidate>
<div class="form-control">
  <h1>Keressen rengeteg munkavállalónk között és találja meg a tökéletes szakembert</h1>
  <mat-form-field class="input-field">
    <input matInput type="search" maxLength="40" placeholder="Keresés (név, leírás, hely, email...)" formControlName="searchWord"/>
    <mat-error *ngIf="searchWord.hasError('required')">
      A keresőszó legalább <strong>3 karakter</strong> legyen
    </mat-error>
  </mat-form-field>
  <div class="searchbutton">
      <button mat-raised-button type="submit" (click)="submit()" [disabled]="!searchForm.valid">Keresés</button>
  </div>
</div>
</form>

<mat-grid-list style="text-align:center" cols="8" rowHeight="160px">
    <mat-grid-tile *ngFor="let category of categories"   [routerLink]="['/categories', category.id]">
    <img src="{{imgRoute + category.picture}}" class="categoryimg">
    <mat-grid-tile-footer style="height:18%;font-size:85%;background-color:rgba(240, 230, 140, 0.616);color:black;text-align:center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      <h1><b>{{category.categoryName}}</b></h1>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<h2>Legnépszerűbb szakemberek</h2>
<mat-divider></mat-divider>

<div class="profiles" style="text-align:center;">
<mat-card *ngFor="let worker of workers" class="example-card" [routerLink]="['/worker', worker.id]">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="font-size:100%">{{worker.name}}</mat-card-title>
    <mat-card-subtitle>{{worker.category.categoryName}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{imgRoute + worker.imgName}}" class="cardimg" alt="{{imgRoute + worker.imgName}}">
  <mat-card-content>
    <h4>Értékelés</h4>
    <app-rating [inputRating]='worker.rating'></app-rating>
  </mat-card-content>
  <mat-card-actions>
      <app-locations [workerId]='worker.id'></app-locations>
  </mat-card-actions>
</mat-card>
</div>

<footer>
  <p><b>Készítette: Járvás Tamás 2018</b></p>
  <p>Contact information: <a href="mailto:someone@example.com">
  jarvast@inf.elte.hu</a>.</p>
</footer> 

