<mat-toolbar id="top-menu" color="primary">
  <div class="left-side">
    <button class="mainpagebutton" mat-button routerLink="/main">
      <img class="mainicon" src="../../../assets/helmet.png">
      Kezdőlap
    </button>
  </div>

  <div class="center">
    <a mat-button class="regbuttons"  *ngFor="let menu of menus" [routerLink]="menu.link" routerLinkActive="active">{{menu.title}}</a>
  </div>

  <div class="welcome" *ngIf="authService.isLoggedIn">Üdv, {{ authService.user.username }}!</div>

  <div class="right-side">
    <div *ngIf="!authService.isLoggedIn" class="unauthorized">
      <a mat-button class="loginbutton" routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
    </div>
    
    <div *ngIf="authService.isLoggedIn" class="authorized">
      <button mat-button (click)="logout()">Kijelentkezés</button>
    </div>
  </div>
</mat-toolbar>