
#top-menu {
  margin-bottom: 25px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

mat-toolbar {
  justify-content: flex-end;
}

.center {
  flex: 3 3 auto;
  text-align: center;
}
.left-side{
  border-style: solid;
  border-width: 2px;
}
.welcome{
  margin-right: 50px;
}
.right-side{
  margin-right: 50px;
}
.butt{
  margin-right: 15%;
  margin-left: 15%;
}