
#top-menu {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

mat-toolbar {
  justify-content: flex-end;
}
.mainicon{
  width: 10%;
}
.mainpagebutton{
  padding: 1%;
  text-align: center;
}
.center {
  flex: 3 3 auto;
  text-align: center;
}
.left-side{
  border-style: solid;
  border-width: 2px;
  border-color: darkorange;
  width: 22%;
}
.welcome{
  margin-right: 3%;
}
.right-side{
  margin-right: 3%;
}
.regbuttons{
  margin-right: 15%;
  margin-left: 10%;
  background:darkorange;
}
.loginbutton{
  border-style: solid;
  border-width: 2px;
  border-color: darkorange;
}